#title {
    display: flex;
}
#titleContainer {
    display: flex;
    justify-content: center;
}
#btnContainer{
    display: flex;
    justify-content: center;
}
#display{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.BookDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-style: double;
}

.DeleteButton{
    width: 120px;
    height: 35px;
}
.readButton{
    width: 120px;
    height: 35px;
}
